.sinif-ortalama {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 300px;
    margin-left: 300px;
}
.sinif-düzenleköse {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 1000px;
}

.duzendiv {
    padding-left: 550px
}

.duzendiv2 {
    padding-left: 1100px
}